@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="sticky- d-flex gap-3 mb-3">
    <button class="btn btn-primary">
        Block
    </button>
    <button class="btn btn-primary">
        <i class="fas fa-unlock"></i>
    </button>
    <button class="btn btn-danger">
        <i class="fas fa-trash-can"></i>
    </button>
    <button class="btn btn-danger">
        <i class="fas fa-ban"></i>
    </button>
</div>


<div class="table-responsive">
    <table class="table">
        <thead class="table-light sticky-top">
            <tr>
                <th>
                    <input id="selectAll" type="checkbox" />
                </th>
                <th>Name</th>
                <th>Email</th>
                <th>Status</th>
                <th>Last Seen</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var user in Model._users)
            {
                <tr>
                    <td>
                        <input type="checkbox" name="userCheckbox" value="@user.UserId"/>
                    </td>
                    <td>@user.Name</td>
                    <td>@user.Email</td>
                    <td>@user.Status</td>
                    <td>(@user.LastLoginTime.ToString() ?? "-")</td>
                </tr>
            }

        </tbody>
    </table>

    <script>
        document.getElementById('selectAll').onclick = function() {
            var checkboxes = document.getElementsByName('userCheckbox');
            for (var checkbox of checkboxes) {
                checkbox.checked = this.checked;
            }
        }
    </script>
</div>
